In [15]:
#By using csv file
import pandas as pd
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\excel1.csv")

In [16]:
df

    serial  rank  roll               name  phy  che  math  total
0        1     1    29  Purushottam Kumar   24   26    62    112
1        2     2    26        Anmol Kumar   25   17    66    108
2        3     3    38        Anshu Kumar   43   28    28     99
3        4     4     9       Priya Kumari   13   10    75     98
4        5     5     7              Nupur   25    1    49     75
5        6     6    35         Akshat Raj   26   21    19     66
6        7     7    13       Anshu Kumari   13   20    28     61
7        8     8    10       Muskan Priya   26    2    29     57
8        9     9    39      Abhinav Kumar    7    6    33     46
9       10    10     6        Aditi Dubey    5    7    33     45
10      11    11    25        Sumit Kumar   20   16     5     41
11      12    12    43       Shivam Kumar   26    5     6     37
12      13    13    31            Utkarsh   35    1     0     36
13      14    14    34     Nikhil Kashyap   14    8     8     30
14      15    15    27        Anant Kumar    3   23     0     26
15      16    16    36        Suraj Kumar   19    5    -1     23
16      17    17    17       Ashish Kumar    3    2    17     22
17      18    18    37     Amit Kumar Jha   10    4     2     16

In [2]:
import pandas as pd
df = pd.read_excel("C:\\Users\\Dell\\Documents\\Excel_Data.xlsx", "Sheet1")
df

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [18]:
#By Dictionary
weather_data = {'day':['1/1/2017','1/2/2017','1/3/2017'],'temperature':[32,35,28],'windspeed':[6,7,2],'event':['Rain','Sunny','Snow']}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [23]:
#By using tuples
weather_data = [('1/1/2017',32,6,'Rain'),('1/2/2017',35,7,'Sunny'),('1/3/2017',28,2,'Snow')]
df = pd.DataFrame(weather_data,columns = ["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [26]:
#By using dictionary second way
weather_data = [{'day':'1/1/2017','temp':32, 'windspeed':6,'event':'rain'},
                {'day':'1/2/2017','temp':35, 'windspeed':7,'event':'sunny'},
                {'day':'1/3/2017','temp':28, 'windspeed':2,'event':'snow'}]
df = pd.DataFrame(weather_data)
df

        day  temp  windspeed  event
0  1/1/2017    32          6   rain
1  1/2/2017    35          7  sunny
2  1/3/2017    28          2   snow

In [3]:
df

AttributeError: module 'pandas' has no attribute 'weather_data'