In [114]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Dell\\PycharmProjects\\coding\\venv\\excel1.csv", parse_dates = ['day'])
df

C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '25-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(
C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '28-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(
C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '29-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(
C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '30-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(
C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '31-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(
C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '13-04-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(

          day  serial  rank  roll               name   phy   che  math  total
0  2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
1  2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2  2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
3  2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
4  2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
5  2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
6  2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
7  2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
8  2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
9  2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
10 2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
11 2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
12 2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
13 2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
14 2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
15 2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
16 2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
17 2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [115]:
type[df.day[0]]

type[Timestamp('2021-03-25 00:00:00')]

In [116]:
df.set_index('day',inplace = True)
df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [98]:
new_df = df.fillna(0)
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   0.0  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    0.0
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    0.0
2021-03-30     4.0   0.0   9.0       Priya Kumari  13.0  10.0  75.0    0.0
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   0.0  19.0   66.0
2021-02-04     7.0   7.0  13.0                  0  13.0  20.0   0.0   61.0
2021-03-04     8.0   8.0   0.0       Muskan Priya  26.0   2.0   0.0   57.0
2021-04-04     9.0   9.0   0.0      Abhinav Kumar   7.0   6.0   0.0   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     0.0   0.0   0.0                  0   0.0   0.0   0.0    0.0
2021-08-04    13.0   0.0  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     0.0   0.0  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     0.0   0.0  27.0        Anant Kumar   3.0  23.0   0.0    0.0
2021-11-04    16.0   0.0  36.0        Suraj Kumar  19.0   5.0  -1.0    0.0
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   0.0    0.0
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [99]:
new_df = df.fillna({
    'serial' : 'Not Available',  
    'rank' : '0',  
    'roll' : '0',  
    'name' : 'Not Available',  
    'phy' : '0',
    'che' : '0',  
    'math' : '0',  
    'total' : 'Not Available',  
})
new_df

,serial,rank,roll,name,phy,che,math,total
day,,,,,,,,
2021-03-25,1.0,1.0,29.0,Purushottam Kumar,24.0,26.0,0,112.0
2021-03-28,2.0,2.0,26.0,Anmol Kumar,25.0,17.0,66.0,Not Available
2021-03-29,3.0,3.0,38.0,Anshu Kumar,43.0,28.0,28.0,Not Available
2021-03-30,4.0,0,9.0,Priya Kumari,13.0,10.0,75.0,Not Available
2021-03-31,5.0,5.0,7.0,Nupur,25.0,1.0,49.0,75.0
2021-01-04,6.0,6.0,35.0,Akshat Raj,26.0,0,19.0,66.0
2021-02-04,7.0,7.0,13.0,Not Available,13.0,20.0,0,61.0
2021-03-04,8.0,8.0,0,Muskan Priya,26.0,2.0,0,57.0
2021-04-04,9.0,9.0,0,Abhinav Kumar,7.0,6.0,0,46.0
2021-05-04,10.0,10.0,6.0,Aditi Dubey,5.0,7.0,33.0,45.0
2021-06-04,11.0,11.0,25.0,Sumit Kumar,20.0,16.0,5.0,41.0
2021-07-04,Not Available,0,0,Not Available,0,0,0,Not Available
2021-08-04,13.0,0,31.0,Utkarsh,35.0,1.0,0.0,36.0
2021-09-04,Not Available,0,34.0,Nikhil Kashyap,14.0,8.0,8.0,30.0
2021-10-04,Not Available,0,27.0,Anant Kumar,3.0,23.0,0.0,Not Available
2021-11-04,16.0,0,36.0,Suraj Kumar,19.0,5.0,-1.0,Not Available
2021-12-04,17.0,17.0,17.0,Ashish Kumar,3.0,2.0,0,Not Available
2021-04-13,18.0,18.0,37.0,Amit Kumar Jha,10.0,4.0,2.0,16.0

In [100]:
# Using ffill (copies the similar things in rows)
new_df = df.fillna(method = "ffill")
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0  112.0
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0  112.0
2021-03-30     4.0   3.0   9.0       Priya Kumari  13.0  10.0  75.0  112.0
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   1.0  19.0   66.0
2021-02-04     7.0   7.0  13.0         Akshat Raj  13.0  20.0  19.0   61.0
2021-03-04     8.0   8.0  13.0       Muskan Priya  26.0   2.0  19.0   57.0
2021-04-04     9.0   9.0  13.0      Abhinav Kumar   7.0   6.0  19.0   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-08-04    13.0  11.0  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04    13.0  11.0  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04    13.0  11.0  27.0        Anant Kumar   3.0  23.0   0.0   30.0
2021-11-04    16.0  11.0  36.0        Suraj Kumar  19.0   5.0  -1.0   30.0
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0  -1.0   30.0
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [101]:
# bfill backward fill
new_df = df.fillna(method = "bfill")
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0  66.0  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0   75.0
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0   75.0
2021-03-30     4.0   5.0   9.0       Priya Kumari  13.0  10.0  75.0   75.0
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0  20.0  19.0   66.0
2021-02-04     7.0   7.0  13.0       Muskan Priya  13.0  20.0  33.0   61.0
2021-03-04     8.0   8.0   6.0       Muskan Priya  26.0   2.0  33.0   57.0
2021-04-04     9.0   9.0   6.0      Abhinav Kumar   7.0   6.0  33.0   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04    13.0  17.0  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-08-04    13.0  17.0  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04    16.0  17.0  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04    16.0  17.0  27.0        Anant Kumar   3.0  23.0   0.0   16.0
2021-11-04    16.0  17.0  36.0        Suraj Kumar  19.0   5.0  -1.0   16.0
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   2.0   16.0
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [102]:
df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [103]:
# Fill value at limited range
new_df = df.fillna(method = "bfill", limit = 1)
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0  66.0  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   5.0   9.0       Priya Kumari  13.0  10.0  75.0   75.0
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0  20.0  19.0   66.0
2021-02-04     7.0   7.0  13.0       Muskan Priya  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   6.0      Abhinav Kumar   7.0   6.0  33.0   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04    16.0   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0  17.0  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   2.0   16.0
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [104]:
# Interpolation (automatically fill according tendency)
new_df = df.interpolate()
new_df

,serial,rank,roll,name,phy,che,math,total
day,,,,,,,,
2021-03-25,1.0,1.0,29.000000,Purushottam Kumar,24.0,26.0,NaN,112.00
2021-03-28,2.0,2.0,26.000000,Anmol Kumar,25.0,17.0,66.0,102.75
2021-03-29,3.0,3.0,38.000000,Anshu Kumar,43.0,28.0,28.0,93.50
2021-03-30,4.0,4.0,9.000000,Priya Kumari,13.0,10.0,75.0,84.25
2021-03-31,5.0,5.0,7.000000,Nupur,25.0,1.0,49.0,75.00
2021-01-04,6.0,6.0,35.000000,Akshat Raj,26.0,10.5,19.0,66.00
2021-02-04,7.0,7.0,13.000000,NaN,13.0,20.0,22.5,61.00
2021-03-04,8.0,8.0,10.666667,Muskan Priya,26.0,2.0,26.0,57.00
2021-04-04,9.0,9.0,8.333333,Abhinav Kumar,7.0,6.0,29.5,46.00
2021-05-04,10.0,10.0,6.000000,Aditi Dubey,5.0,7.0,33.0,45.00
2021-06-04,11.0,11.0,25.000000,Sumit Kumar,20.0,16.0,5.0,41.00
2021-07-04,12.0,12.0,28.000000,NaN,27.5,8.5,2.5,38.50
2021-08-04,13.0,13.0,31.000000,Utkarsh,35.0,1.0,0.0,36.00
2021-09-04,14.0,14.0,34.000000,Nikhil Kashyap,14.0,8.0,8.0,30.00
2021-10-04,15.0,15.0,27.000000,Anant Kumar,3.0,23.0,0.0,26.50
2021-11-04,16.0,16.0,36.000000,Suraj Kumar,19.0,5.0,-1.0,23.00
2021-12-04,17.0,17.0,17.000000,Ashish Kumar,3.0,2.0,0.5,19.50
2021-04-13,18.0,18.0,37.000000,Amit Kumar Jha,10.0,4.0,2.0,16.00

In [105]:
# Interpolation by time
new_df = df.interpolate(method = "time")
new_df

,serial,rank,roll,name,phy,che,math,total
day,,,,,,,,
2021-03-25,1.000000,1.000000,29.000000,Purushottam Kumar,24.000000,26.000000,NaN,112.000000
2021-03-28,2.000000,2.000000,26.000000,Anmol Kumar,25.000000,17.000000,66.000000,93.500000
2021-03-29,3.000000,3.000000,38.000000,Anshu Kumar,43.000000,28.000000,28.000000,87.333333
2021-03-30,4.000000,4.000000,9.000000,Priya Kumari,13.000000,10.000000,75.000000,81.166667
2021-03-31,5.000000,5.000000,7.000000,Nupur,25.000000,1.000000,49.000000,75.000000
2021-01-04,6.000000,6.000000,35.000000,Akshat Raj,26.000000,20.000000,19.000000,66.000000
2021-02-04,7.000000,7.000000,13.000000,NaN,13.000000,20.000000,36.554217,61.000000
2021-03-04,8.000000,8.000000,22.142857,Muskan Priya,26.000000,2.000000,52.409639,57.000000
2021-04-04,9.000000,9.000000,16.230769,Abhinav Kumar,7.000000,6.000000,34.538462,46.000000
2021-05-04,10.000000,10.000000,6.000000,Aditi Dubey,5.000000,7.000000,33.000000,45.000000
2021-06-04,11.000000,11.000000,25.000000,Sumit Kumar,20.000000,16.000000,5.000000,41.000000
2021-07-04,11.983607,11.983607,27.950820,NaN,27.377049,8.622951,2.540984,38.540984
2021-08-04,13.000000,13.000000,31.000000,Utkarsh,35.000000,1.000000,0.000000,36.000000
2021-09-04,14.010870,14.016393,34.000000,Nikhil Kashyap,14.000000,8.000000,8.000000,30.000000
2021-10-04,14.989130,15.000000,27.000000,Anant Kumar,3.000000,23.000000,0.000000,30.000000
2021-11-04,16.000000,16.016393,36.000000,Suraj Kumar,19.000000,5.000000,-1.000000,30.000000
2021-12-04,17.000000,17.000000,17.000000,Ashish Kumar,3.000000,2.000000,-1.000000,30.000000
2021-04-13,18.000000,18.000000,37.000000,Amit Kumar Jha,10.000000,4.000000,2.000000,16.000000

In [106]:
df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [107]:
new_df = df
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [108]:
# To drop a row which have at least one blanks
new_df = df.dropna()
new_df

            serial  rank  roll            name   phy   che  math  total
day
2021-03-31     5.0   5.0   7.0           Nupur  25.0   1.0  49.0   75.0
2021-05-04    10.0  10.0   6.0     Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0     Sumit Kumar  20.0  16.0   5.0   41.0
2021-04-13    18.0  18.0  37.0  Amit Kumar Jha  10.0   4.0   2.0   16.0

In [109]:
new_df = df
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [110]:
# To drop a row in which there are no any values in any column
new_df = df.dropna(how = "all")
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [111]:
new_df = df
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [69]:
# To keep a row which have at least one cell value and deletes the row which have no any value
new_df = df.dropna(thresh = 1)
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [70]:
# To keep only that row which have at least two value
new_df = df.dropna(thresh = 2)
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [71]:
# To keep only that row which have at least three value
new_df = df.dropna(thresh = 3)
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [72]:
# To keep only that row which have at least four value
new_df = df.dropna(thresh = 4)
new_df

            serial  rank  roll               name   phy   che  math  total
day
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [117]:
# Inserting a date range 
dt = pd.date_range("03-25-2021", "04-13-2021")
idx = pd.DatetimeIndex(dt)
df = df.reindex(idx)
df

            serial  rank  roll               name   phy   che  math  total
2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
2021-03-26     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-03-27     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
2021-04-01     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-02     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-03     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
2021-04-05     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-06     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-07     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-08     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-09     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-10     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-11     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-12     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [91]:
df

          day  serial  rank  roll               name   phy   che  math  total
0  2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
1  2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2  2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
3  2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
4  2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
5  2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
6  2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
7  2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
8  2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
9  2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
10 2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
11 2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
12 2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
13 2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
14 2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
15 2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
16 2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
17 2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0

In [90]:
new_df = df
new_df

          day  serial  rank  roll               name   phy   che  math  total
0  2021-03-25     1.0   1.0  29.0  Purushottam Kumar  24.0  26.0   NaN  112.0
1  2021-03-28     2.0   2.0  26.0        Anmol Kumar  25.0  17.0  66.0    NaN
2  2021-03-29     3.0   3.0  38.0        Anshu Kumar  43.0  28.0  28.0    NaN
3  2021-03-30     4.0   NaN   9.0       Priya Kumari  13.0  10.0  75.0    NaN
4  2021-03-31     5.0   5.0   7.0              Nupur  25.0   1.0  49.0   75.0
5  2021-01-04     6.0   6.0  35.0         Akshat Raj  26.0   NaN  19.0   66.0
6  2021-02-04     7.0   7.0  13.0                NaN  13.0  20.0   NaN   61.0
7  2021-03-04     8.0   8.0   NaN       Muskan Priya  26.0   2.0   NaN   57.0
8  2021-04-04     9.0   9.0   NaN      Abhinav Kumar   7.0   6.0   NaN   46.0
9  2021-05-04    10.0  10.0   6.0        Aditi Dubey   5.0   7.0  33.0   45.0
10 2021-06-04    11.0  11.0  25.0        Sumit Kumar  20.0  16.0   5.0   41.0
11 2021-07-04     NaN   NaN   NaN                NaN   NaN   NaN   NaN    NaN
12 2021-08-04    13.0   NaN  31.0            Utkarsh  35.0   1.0   0.0   36.0
13 2021-09-04     NaN   NaN  34.0     Nikhil Kashyap  14.0   8.0   8.0   30.0
14 2021-10-04     NaN   NaN  27.0        Anant Kumar   3.0  23.0   0.0    NaN
15 2021-11-04    16.0   NaN  36.0        Suraj Kumar  19.0   5.0  -1.0    NaN
16 2021-12-04    17.0  17.0  17.0       Ashish Kumar   3.0   2.0   NaN    NaN
17 2021-04-13    18.0  18.0  37.0     Amit Kumar Jha  10.0   4.0   2.0   16.0