In [1]:
# Pandas SQL Operation
import pandas as pd
import sqlite3 as sql

In [2]:
#Creating A table in SQL using python
create_table = '''CREATE Table student_score(ID int, Name varchar(30), Math Real, Science Real);'''

In [3]:
# Executing the SQL statement
executeSQL = sql.connect(':memory:')
executeSQL.execute(create_table)
executeSQL.commit()

In [4]:
# Prepare a SQL query
sql_query = executeSQL.execute('select * from student_score')

In [5]:
# Fetch result from sql lite database
resulset = sql_query.fetchall()

In [6]:
resulset

[]

In [7]:
# Inserting values into SQL lite
insertSQL = [(10, 'Jack', 85, 92), (29, 'Tom', 73, 89), (65, 'Ram', 65.5, 77),
            (5, 'Steve', 55, 91)]

In [11]:
# insert records into sql table through sql command
insert_statement = 'Insert into student_score values (?,?,?,?)'
executeSQL.executemany(insert_statement, insertSQL)
executeSQL.commit()

In [12]:
# Prepare SQL Query
SQL_query = executeSQL.execute('select * from student_score')

In [13]:
# Fetch the resultset from query
resulset = SQL_query.fetchall()
resulset

[(10, 'Jack', 85.0, 92.0),
 (29, 'Tom', 73.0, 89.0),
 (65, 'Ram', 65.5, 77.0),
 (5, 'Steve', 55.0, 91.0)]